<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <!-- Locale to use for vdirsyncer, e.g. en_US.UTF-8 -->
      <key>LANG</key>
      <string>en_US.UTF-8</string>
      <key>LC_ALL</key>
      <string>en_US.UTF-8</string>
    </dict>
    <key>Label</key>
    <string>com.oschrenk.vdirsyncer</string>
    <key>WorkingDirectory</key>
    <!-- working directory for vdirsyncer, usually the base directory where
         vdirsyncer is installed, e.g. /usr/local/ -->
    <string>/usr/local/Cellar/vdirsyncer/0.16.4_2/bin</string>
    <key>ProgramArguments</key>
    <array>
      <!-- full path to vdirsyncer binary -->
      <string>/usr/local/Cellar/vdirsyncer/0.16.4_2/bin/vdirsyncer</string>
      <string>sync</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <!-- Sync intervall in seconds -->
    <integer>300</integer>
    <!-- Log to /tmp, good enough -->
    <key>StandardOutPath</key>
    <string>/tmp/vdirsyncer.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/vdirsyncer.log</string>
  </dict>
</plist>

